/*Main CSS file*/
.header-div {
    background-color: #FEEFE5;
    min-height: 150px;
    padding: 25px 50px 25px 25px;
    display: flex;
}

.left-div-title {
    color: #484848;
    font-weight: normal !important;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 40px;
}

.font-helvetica {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
}

.font-alegreya {
    font-family: 'Alegreya SC', serif;
    font-size: 18px;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
    font-weight: bold !important;
    font-size: 36px;
}

.content-div {
    font-size: 20px;
}

.container-defaults {
    padding-left: 0;
    padding-right: 0;
}

.divider {
    border-left: 1px solid black;
    height: 170px !important;
}

.story-title-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

.calendar-divider {
    border-left: 1px solid black;
    height: 50% !important;
}

.simple-button {
    background-color: #FEEFE5;
    color: black;
    border: 2px solid #484848;
    padding: 10px;
}

.black-button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
}

.simple-button:hover {
    background-color: #FFE0CC;
}

.inverted-button {
    background-color: #484848;
    color: #FEEFE5;
    padding: 10px;
}

.inverted-button:hover {
    background-color: #282828;
}

.center-button {
    background-color: #484848;
    color: #FEEFE5;
    padding: 10px;
    height: 75px;
    width: 175px;
    position: relative;
    top: -37.5px;
}

.theme-div {
    background-color: #ffffff;
    padding: 1px 25px 100px;
}

.theme-row {
    margin-top: 90px;
}

.theme-button {
    flex: 3;
    height: 80%;
    width: 80%;
    background-color: #FEEFE5;
    border: none;
}

.theme-button-highlighted {
    flex: 3;
    height: 80%;
    width: 80%;
    background-color: rgba(72, 72, 72, 0.4);
    border: none;
}

.theme-button:hover {
    background-color: rgba(72, 72, 72, 0.2);
}

.calendar-div {
    background-color: #FEEFE5;
    padding-left: 25px;
    padding-right: 25px;
    height: 540px;
}

.form-style {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.my-span {
    color: #484848;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: bold !important;
    margin-bottom: -10px;
}

label, input, textarea {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 22px !important;
}

.nice-dates-popover {
    width: 70% !important;
}

.footer-div {
    background-color: #FFE0CC;
    flex-direction: row;
    padding: 25px;
}

.footer-content {
    padding: 8px;
}

label.active {
    background: #FEEFE5 !important;
}

textarea.md-textarea:focus:not([readonly]) + label,
.md-form.md-outline input[type="text"]:focus:not([readonly]) + label {
    color: #484848 !important;
}

.md-form.md-outline textarea.md-textarea:focus:not([readonly]),
.md-form.md-outline input[type="text"]:focus:not([readonly]) {
    border-color: #484848 !important;
    box-shadow: 0 0 0 1px #484848 !important;
}

button:focus {
    outline: 0;
}

.logo-container{
    width: 26.33%
}

@media screen and (max-width: 786px){
    .form-style {
        width: 95%;
    }

    .container-defaults {
        padding-left: 25px;
        padding-right: 25px;
    }

    .small-screen-defaults {
        padding-left: 0;
        padding-right: 0;
    }

    .header-div {
        display: block;
        padding: 50px !important;
    }
    .logo-container{
        width: 100%
    }
    .calendar-div{
       height: auto;
    }
    .footer-div {
        flex-direction: column;
    }
}

@media screen and (min-width: 786px){
    .logo-padding {
        padding-left: 60px;
    }

    .parallax {
        /* The image used */
        background-image: url("./images/ice-cream-background.jpg");
        /* Set a specific height */
        min-height: 550px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.col-icons{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .col-icons {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}